<!DOCTYPE html >
<html ng-app="myApp">
    <head>
        <title>es</title>
        <meta charset="UTF-8" /> 
        <link href="bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-route.js" type="text/javascript"></script>
    </head>
     
    <body>

        <div ng-controller="mainController">
            <!--        ALo {{nome}}
                    oi {{nomenovo}}-->
            <!--            <div>
                            <label>O que foi dito sobre:</label>
                            <input type="text" ng-model="palavra">
            
                            <div class="alert" 
                                 ng-class="{'alert-warning' : palavra.length < caracteres ,
                                            'alert-danger' : palavra.length > caracteres
                                        }"
                                 ng-show="palavra.length !== caracteres">
                                Mais q 5 caracteres
                            </div>
            
                            <h1>www.uol.com/{{lowercasepalavra()}}</h1>
            
                            <h3>Rules</h3>
                            <ul>
                                <li ng-repeat="rule in rules">
                                        {{rule.rulename}}
                                </li>
                            </ul>
                        </div>-->


            <input type="button" value="Click Me" ng-click="alertClick()">
        </div>


        <script>
            //qd baixar outras libs do angular deve ser acrescentado o nome detro das []
            var myApp = angular.module('myApp', []);


            //formatacao
            // myApp.controller('mainController',function($scope,$log,$filter){
            //            console.log($filter('uppercase')('hhh')); -- formatacao
            //  });
//*******************************************

            //Minificacao
            //   myApp.controller('mainController',["$scope","$log",function(a,b)
            //       {b.info(a)}]);


//*******************************************
            //exemplo de usabilidade
            //    myApp.controller('mainController',["$scope","$timeout",function($scope,$timeout){
            //             $scope.nome = 'andel';
            //             $scope.nomenovo = 'fr';
            //             $timeout(function(){
            //                 $scope.nomenovo = 'rrrrr';
            //             },3000);
            //        }]);


//*******************************************
            //diretivas
            // Data Binding
//usando lowercase
//            myApp.controller('mainController', ["$scope", "$filter", function ($scope, $filter) {
//
//                    $scope.palavra = "";
//                    $scope.lowercasepalavra = function () {
//                        
//                        return  $filter('lowercase')($scope.palavra);
//                    };
//
//                }]);

//*******************************************

//            myApp.controller('mainController', ["$scope", "$filter","$timeout",
//                function ($scope, $filter,$timeout) {
//
//                    $scope.palavra = "";
//                    $scope.lowercasepalavra = function () {
//                        return  $filter('lowercase')($scope.palavra);
//                    };
//
//
//                    $scope.$watch('palavra', function (newValue, oldValue) {
//                        console.info('changed');
//                        console.log('old:' + oldValue);
//                        console.log('new:' + newValue);
//
//                    });
//                    
//                    //aplica a acao ao contexto
//
//                    $timeout(function () {
//                        
//                        //se nao passar timeout....precisa colocar apply pro angular 
//                        //reconhecer
//                       // $scope.$apply(function()
//                        //{
//                            $scope.palavra = 'novapalavraescrita';
//                            console.log('scope changed!');
//                        //}
//                        //);
//                    }, 3000);
//
//                }]);


//digest loops
//***********************
//            myApp.controller('mainController', ["$scope", "$filter",
//                function ($scope, $filter) {
//
//                    $scope.palavra = "";
//                    $scope.lowercasepalavra = function () {
//                        return  $filter('lowercase')($scope.palavra);
//                    };
//
//                    $scope.caracteres = 5;
//
//                    $scope.rules = [
//                        {rulename : "Mais q 5 carac"},
//                        {rulename : "meno que 5"},
//                        {rulename : "otimo"}
//                    ];
//
//                    console.log($scope.rules);
//
//                }]);

//**************

            myApp.controller('mainController', ["$scope",  
                function ($scope) {

                    $scope.alertClick = function(){
                        alert('clicado');
                    };
                }]);


        </script>
    </body>

</html>

